<div class="Rental-personal-car pb-5">
    <div class="container">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb pt-2">
          <li class="breadcrumb-item"><a href="#">Hjem</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/Companymoving']" routerLinkActive="active">Flytting</a> </li>
          <li class="breadcrumb-item active" aria-current="page">BEDRIFTSFLYTTING</li>
        </ol>
      </nav>

      <div class="packing-baner baner-rounded py-5">
      
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-8 text-center text-lg-start text-white px-5">
              <h1 class="display-4 fw-bold lh-1 mb-2">
                BEDRIFTSFLYTTING </h1>
              <p class="col-lg-10 fs-5 mt-3 mt-4">
                Bestill oss for bedriftsflytting. Vi flytter kontorer og har lang erfaring innen
                bedriftsflytting. Vi setter opp en enkel og god løsning som passer for kunden.
                </p>
            </div>
          </div>
    </div> 
    
    
    </div>
   
    

    <div class="container">
     
        <h1 class="mt-5">
          Bedriftsflytting
        </h1>
        <h1 class="mt-5">
          Skal firmaet inn i nye lokaler?
      </h1>
        <p>         
         
          Ved flytting av kontorer og hele bedrifter vil vi etter en befaring kunne gi en fastpris – eller
gjennomføre oppdraget på timebasis. Vi kan også overta prosjektledelsen ved å utarbeide en
gjennomføringsplan med kvalitetskontroll, lede selve flyttingen og ved behov foreta
nødvendig etterarbeid. Er du usikker vedrørende volum på flyttelasset, så kan vi hjelpe deg
med å finne riktig volum. </p>
<ul type = "circle">
<li>Vi tilbyr en fastpris etter befaring eller timespris om det er ønskelig.</li>
<li>Vi kan demontere møbler og montere opp igjen.</li>
<li>Vi tilbyr pakking og inventar blir pakket inn trygt og skånsomt.</li>
<li>Vi tilbyr trygg og sikker transport.</li>

</ul>
         

        <div class="row justify-content-center">
            <div class="col-sm-9 mt-4">
                <div class="card">
                  <div class="card-body form-card">
                  
                    <h3 class="card-title text-center mt-4">Get an offer for relocation assistance</h3>
                    <div class="row justify-content-center mt-4">
                      <div class="col-6">                               
                         <div class="slider-wrap active{{sliderValue}}">
                          <input type="range" class="form-range" [(ngModel)]="sliderValue" min="0" max="3" step="1">
                         
                         </div>
                      </div>
                       </div>
                  <div class="setp1" *ngIf="sliderValue === 0">
                  <form class="row g-3" [formGroup]="MovingForm1">
                    <div class="row">
                      <div class="col-sm-6">
                        

                        <div class="mb-3 DatePicker">
                          <label for="Name" class="form-label">Flyttedato:</label>
                          <div class="input-group">
                            <input
                                 class="form-control"
                                 placeholder="DD/MM/yyyy"
                                 formControlName="MovingDate"[(ngModel)]="model.MovingDate"
                                 ngbDatepicker
                                 #dm1="ngbDatepicker"
                             />
                            <button class="btn btn-outline-secondary bi bi-calendar3" type="button"   (click)="dm1.toggle()">
                                <img src="../assets/imgs/icons/calendar.svg">
                             </button>
                         </div>
                         <div class="text-danger" *ngIf="submitted && (fs1['MovingDate']?.invalid)">
                          This value is required.
                      </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between mt-5">
                          <label>Ønsker du pakking?</label>
                          <div class="form-check-wrap d-flex">
                              <div class="form-check me-3">
                                  <input type="radio" class="form-check-input" id="IsWarehousehotel" formControlName="IsWarehousehotel"[(ngModel)]="model.IsWarehousehotel" value="Yes">Ja
                                  <label class="form-check-label" for="IsWarehousehotel" ></label>
                                </div>
                                <div class="form-check ms-4">
                                  <input type="radio" class="form-check-input" id="IsWarehousehotel" formControlName="IsWarehousehotel"[(ngModel)]="model.IsWarehousehotel" value="No">Nei
                                  <label class="form-check-label" for="IsWarehousehotel2" ></label>
                                </div>
                          </div>
                        </div>

                      </div>
                      <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-between mt-5">
                            <label>Ønsker du pakking?</label>
                            <div class="form-check-wrap d-flex">
                                <div class="form-check me-3">
                                    <input type="radio" class="form-check-input" id="IsPacking" formControlName="IsPacking"[(ngModel)]="model.IsPacking" value="Yes">Ja
                                    <label class="form-check-label" for="IsPacking" ></label>
                                  </div>
                                  <div class="form-check ms-4">
                                    <input type="radio" class="form-check-input" id="IsPacking" formControlName="IsPacking"[(ngModel)]="model.IsPacking" value="No">Nei
                                    <label class="form-check-label" for="IsPacking2" ></label>
                                  </div>
                            </div>
                          </div>

                          <div class="d-flex align-items-center justify-content-between mt-5">
                            <label>Har du piano?</label>
                            <div class="form-check-wrap d-flex">
                                <div class="form-check me-3">
                                    <input type="radio" class="form-check-input" id="radio2" formControlName="Ispiano"[(ngModel)]="model.Ispiano" value="Yes">Ja
                                    <label class="form-check-label" for="radio2" ></label>
                                  </div>
                                  <div class="form-check ms-4">
                                    <input type="radio" class="form-check-input" id="radio" formControlName="Ispiano"[(ngModel)]="model.Ispiano" value="No">Nei
                                    <label class="form-check-label" for="radio" ></label>
                                  </div>
                            </div>
                          </div>
                      </div>



                    </div>
                  </form>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(1)">Neste</button>
                    </div>
                  </div>
                
                  <div class="setp2"  *ngIf="sliderValue === 1">
                    <form class="row g-3" [formGroup]="MovingForm2">
                      <div class="row">
                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label for="Name" class="form-label">Nåværende Adresse</label>
                              <input type="text" class="form-control" id=""  formControlName="CurrentAddress" [(ngModel)]="model.CurrentAddress">
                            </div>

                          </div>
                         

                          <div class="col-sm-6">
                              <div class="mb-3">
                                <label for="Name" class="form-label">Hus Nr.</label>
                              <input type="text" class="form-control" id=""  formControlName="StreetNo" [(ngModel)]="model.StreetNo">
                                
                              </div>
                           </div>
                           <div class="col-sm-6">
                            <div class="mb-3">
                              <label for="Name" class="form-label">Post Nr </label>
                            <input type="text" class="form-control" id=""  formControlName="PostalCode" [(ngModel)]="model.PostalCode"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                              
                            </div>
                         </div>

                           <div class="col-sm-6">
                              <div class="mb-3">
                                <label for="Name" class="form-label">Boligareal</label>
                              <input type="text" class="form-control" id=""  formControlName="SizeOfHome" [(ngModel)]="model.SizeOfHome"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                              <div class="text-danger" *ngIf="submitted && (fs2['SizeOfHome']?.invalid)">
                                This value is required.
                            </div>
                              </div>
                           </div>

                           
                           <div class="col-sm-6">
                              <div class="mb-3">
                                <label for="Name" class="form-label">Antall Rom</label>                                 
                                <select class="form-control form-control-sm form-control-alternative" formControlName="TotalRoomId" [(ngModel)]="model.TotalRoomId">
                                  <option *ngFor="let item of TotalRoomList" [value]="item.ID">
                                      {{item.Name}}
                                  </option>
                              </select> 
                              <div class="text-danger" *ngIf="submitted && (fs2['TotalRoomId']?.invalid)">
                                This value is required.
                            </div>
                              </div>
                           </div>


                           
                           <div class="col-sm-6">
                              <div class="mb-3">
                                <label for="Name" class="form-label">Hustype</label>
                                <select class="form-control form-control-sm form-control-alternative" formControlName="HouseTypeId" [(ngModel)]="model.HouseTypeId">
                                  <option *ngFor="let item of HouseTypeList" [value]="item.ID">
                                      {{item.Name}}
                                  </option>
                              </select> 
                              <div class="text-danger" *ngIf="submitted && (fs2['HouseTypeId']?.invalid)">
                                This value is required.
                            </div>
                              </div>
                           </div>
                           <div class="col-sm-6">
                            <div class="mb-3">
                              <label for="Name" class="form-label">Hvor mange etasjer</label>                                 
                              <select class="form-control form-control-sm form-control-alternative" formControlName="FloorTypeId" [(ngModel)]="model.FloorTypeId">
                                <option *ngFor="let item of FloorsList" [value]="item.ID">
                                    {{item.Name}}
                                </option>
                            </select> 
                            <div class="text-danger" *ngIf="submitted && (fs2['FloorTypeId']?.invalid)">
                              This value is required.
                          </div>
                            </div>
                         </div>

                         <div class="col-sm-6">
                          <div class="mb-3">
                            <label for="Name" class="form-label">Noe flytte fra garasjen?</label>
                          <input type="text" class="form-control" id=""  formControlName="garage" [(ngModel)]="model.garage">
                            
                          </div>
                       </div>
                       <div class="mb-3">
                        <label for="Name" class="form-label">Avtand til Parkering</label>
                        <input type="text" class="form-control" id=""  formControlName="ParkingDistance" [(ngModel)]="model.ParkingDistance">
                        <div class="text-danger" *ngIf="submitted && (fs2['ParkingDistance']?.invalid)">
                          This value is required.
                      </div>
                      </div>
                        </div>
                    </form>
                   

                   
                      <div class="d-flex justify-content-end">
                          <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(2)">Neste</button>
                      </div>
                    </div>
                  <div class="setp3"  *ngIf="sliderValue === 2">
                   
                    <form class="row g-3" [formGroup]="MovingForm3">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="mb-3">
                            <label for="Name" class="form-label">Nåværende Adresse</label>
                            <input type="text" class="form-control" id=""  formControlName="NewAddress" [(ngModel)]="model.NewAddress">
                          </div>

                        </div>
                       

                        <div class="col-sm-6">
                            <div class="mb-3">
                              <label for="Name" class="form-label">Hus Nr.</label>
                            <input type="text" class="form-control" id=""  formControlName="NewStreetNo" [(ngModel)]="model.NewStreetNo">
                              
                            </div>
                         </div>
                         <div class="col-sm-6">
                          <div class="mb-3">
                            <label for="Name" class="form-label">Post Nr </label>
                          <input type="text" class="form-control" id=""  formControlName="NewPostalCode" [(ngModel)]="model.NewPostalCode"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            
                          </div>
                       </div>

                         <div class="col-sm-6">
                            <div class="mb-3">
                              <label for="Name" class="form-label">Boligareal</label>
                            <input type="text" class="form-control" id=""  formControlName="NewSizeOfHome" [(ngModel)]="model.NewSizeOfHome"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            <div class="text-danger" *ngIf="submitted && (fs3['NewSizeOfHome']?.invalid)">
                              This value is required.
                          </div>
                            </div>
                         </div>

                         
                         <div class="col-sm-6">
                            <div class="mb-3">
                              <label for="Name" class="form-label">Antall Rom</label>                                 
                              <select class="form-control form-control-sm form-control-alternative" formControlName="NewTotalRoomId" [(ngModel)]="model.NewTotalRoomId">
                                <option *ngFor="let item of TotalRoomList" [value]="item.ID">
                                    {{item.Name}}
                                </option>
                            </select> 
                            <div class="text-danger" *ngIf="submitted && (fs3['NewTotalRoomId']?.invalid)">
                              This value is required.
                          </div>
                            </div>
                         </div>


                         
                         <div class="col-sm-6">
                            <div class="mb-3">
                              <label for="Name" class="form-label">Hustype</label>
                              <select class="form-control form-control-sm form-control-alternative" formControlName="NewHouseTypeId" [(ngModel)]="model.NewHouseTypeId">
                                <option *ngFor="let item of HouseTypeList" [value]="item.ID">
                                    {{item.Name}}
                                </option>
                            </select> 
                            <div class="text-danger" *ngIf="submitted && (fs3['NewHouseTypeId']?.invalid)">
                              This value is required.
                          </div>
                            </div>
                         </div>
                         <div class="col-sm-6">
                          <div class="mb-3">
                            <label for="Name" class="form-label">Hvor mange etasjer</label>                                 
                            <select class="form-control form-control-sm form-control-alternative" formControlName="NewFloorTypeId" [(ngModel)]="model.NewFloorTypeId">
                              <option *ngFor="let item of FloorsList" [value]="item.ID">
                                  {{item.Name}}
                              </option>
                          </select> 
                          <div class="text-danger" *ngIf="submitted && (fs3['NewFloorTypeId']?.invalid)">
                            This value is required.
                        </div>
                          </div>
                       </div>

                       <div class="col-sm-6">
                        <div class="mb-3">
                          <label for="Name" class="form-label">Noe flytte fra garasjen?</label>
                        <input type="text" class="form-control" id=""  formControlName="Newgarage" [(ngModel)]="model.Newgarage">
                          
                        </div>
                     </div>
                     <div class="mb-3">
                      <label for="Name" class="form-label">Avtand til Parkering</label>
                      <input type="text" class="form-control" id=""  formControlName="NewParkingDistance" [(ngModel)]="model.NewParkingDistance"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                      <div class="text-danger" *ngIf="submitted && (fs3['NewParkingDistance']?.invalid)">
                        This value is required.
                    </div>
                    </div>
                      </div>
                    </form>
                      <div class="d-flex justify-content-end">
                          <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(3)">Neste</button>
                      </div>
                    </div>
                    <div class="setp4"  *ngIf="sliderValue === 3">
                      <form class="row g-3" [formGroup]="MovingForm4">
                      <div class="row">

                          
                          <div class="col-sm-6">
                           

                            <div class="mb-3">
                                <label>
                                  Annen informasjon
                                </label>
                              <textarea class="form-control" rows="5" id="" formControlName="AdditionalInfo" [(ngModel)]="model.AdditionalInfo" placeholder="Type Here..."></textarea>
                            </div>


                          </div>
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="Name" class="form-label">Navn</label>
                                  <input type="text" class="form-control" id=""   formControlName="Name" [(ngModel)]="model.Name">
                                  <div class="text-danger" *ngIf="submitted && (fs4['Name']?.invalid)">
                                    This value is required.
                                </div>
                                </div>

                                <div class="mb-3">
                                  <label for="Name" class="form-label"> E-post</label>
                                  <input type="Email" class="form-control" id=""  formControlName="Email" [(ngModel)]="model.Email">
                                <div class="text-danger" *ngIf="submitted && (fs4['Email']?.invalid)">
                                  This value is required.
                              </div>
                              <div class="text-danger" *ngIf="submitted && (fs4['Email']?.errors?.['Email'] ||fs4['Email']?.errors?.['pattern'])">
                                  Enter Valid Email
                              </div>

                                </div>

                                <div class="mb-3">
                                  <label for="Name" class="form-label">Mobil</label>
                                  <input type="text" class="form-control" id=""  formControlName="Phone" [(ngModel)]="model.Phone">
                                  <div class="text-danger" *ngIf="submitted && (fs4['Phone']?.invalid)">
                                    This value is required.
                                </div>
                                <div class="text-danger" *ngIf="submitted && (fs4['Phone']?.errors?.['pattern'])">
                                    Enter Valid Phone Numner
                                </div>
                                </div>

                          </div>
                         
                        </div>
                      </form>
  
                      <div class="d-flex justify-content-end">
                          <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(4)">Neste</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
   
</div>


<section class="our-services">
    <app-ourservices></app-ourservices>
 </section>
 <!--  -->