<div class="Rental-personal-car ContactBaner">
    <div class="container">
       
      
            <div class="row justify-content-center">
              <div class="col-sm-9 text-white">
                <h5 class="mt-5">
                    <!-- OFTE STILTE SPØRSMÅL  -->
                    FAQ
                </h5>
              </div>
                <div class="col-sm-9 mt-4 mb-5">
                    <div class="row  mb-5">
                        <div class="col-md-12 p-0">
                          <div class="card" style="background: #F3F5F6;">
                            <div class="card-body form-card p-5">

                                <div id="accordion">
                                    <div class="card">
                                      <div class="card-header">
                                        <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <span class="number">01</span>   Må jeg ha kredittkort for å leie bil?

                                         <span class="collapse_icon">
                                            <i class="material-icons">add</i>
                                         </span>
                                        </a>
                                      </div>
                                      <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Ja. Du må garantere for leieavtalen med kredittkort.(MasterCard).
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                                            <span class="number">02</span>    Kan jeg betale med kontanter?
                                            
                                         <span class="collapse_icon">
                                            <i class="material-icons">add</i>
                                         </span>
                                      </a>
                                      </div>
                                      <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Du kan gjøre opp med kontanter hvis du gjerne vil, men du må garantere for leieavtalen med et kredittkort. Av sikkerhetsmessige årsaker anbefaler vi helst bruk av bankkort som betalingsmiddel, fremfor kontant.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                                            <span class="number">03</span>    Hvilken ordning har dere med depositum?
                                            
                                         <span class="collapse_icon">
                                            <i class="material-icons">add</i>
                                         </span>
                                        </a>
                                      </div>
                                      <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Kunde må være kredittverdig og ha med kredittkort. Du betaler for bilen ved henting. Etter leieforholdet trekker vi eventuelt drivstoff, bompasseringer og. annet som er i henhold til leieavtalen. 
                                        </div>
                                      </div>
                                    </div>
                                    <!-- =========== -->
                                    <div class="card">
                                        <div class="card-header">
                                          <a class="collapsed btn" data-bs-toggle="collapse" href="#collapsefr">
                                            <span class="number">04</span>    Har leiebilene bombrikke?
                                            
                                         <span class="collapse_icon">
                                            <i class="material-icons">add</i>
                                         </span>
                                          </a>
                                        </div>
                                        <div id="collapsefr" class="collapse" data-bs-parent="#accordion">
                                          <div class="card-body">
                                            Våre biler har bompengebrikke for bomstasjoner. Bompasseringer blir belastet i ettertid med pålydende avgift pluss mva. 
                                            Bompasseringer og drivstoff kommer alltid i tillegg til leien. Vi er pålagt å fakturere bompasseringer pluss 25% moms.
                                          </div>
                                        </div>
                                      </div>

                                       <!-- =========== -->
                                    <div class="card">
                                        <div class="card-header">
                                          <a class="collapsed btn" data-bs-toggle="collapse" href="#collapsefv">
                                            <span class="number">05</span>    Kan jeg tilbakelevere bilen utenom åpningstid?
                                            
                                         <span class="collapse_icon">
                                            <i class="material-icons">add</i>
                                         </span>
                                        </a>
                                        </div>
                                        <div id="collapsefv" class="collapse" data-bs-parent="#accordion">
                                          <div class="card-body">
                                            Ja. Avtal med oss ved henting av bil. <br>
                                            Det er nøkkelinnkast i hoveddøren.<br>
                                          </div>
                                        </div>
                                      </div>

                                        <!-- =========== -->
                                    <div class="card">
                                        <div class="card-header">
                                          <a class="collapsed btn" data-bs-toggle="collapse" href="#collapsesx">
                                            <span class="number">06</span>   Kan jeg få faktura?
                                            
                                         <span class="collapse_icon">
                                            <i class="material-icons">add</i>
                                         </span>
                                          </a>
                                        </div>
                                        <div id="collapsesx" class="collapse" data-bs-parent="#accordion">
                                          <div class="card-body">
                                            Faktura kun til firma ved godkjent kredittsjekk.
                                          </div>
                                        </div>
                                      </div>

                                      <div class="card">
                                        <div class="card-header">
                                          <a class="collapsed btn" data-bs-toggle="collapse" href="#collapsesvn">
                                            <span class="number">07</span>    Er det mulig å parkere privatbilen hos dere?
                                        
                                            <span class="collapse_icon">
                                                <i class="material-icons">add</i>
                                             </span> 
                                        </a>
                                        </div>
                                        <div id="collapsesvn" class="collapse" data-bs-parent="#accordion">
                                          <div class="card-body">
                                            Ja. Parkering av privat bil på eget ansvar.
                                          </div>
                                        </div>
                                      </div>

                                      <div class="card">
                                        <div class="card-header">
                                          <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseseven">
                                            <span class="number">08</span>   Hvor lenge før må jeg avbestille bilen?
                                            
                                         <span class="collapse_icon">
                                            <i class="material-icons">add</i>
                                         </span>
                                          </a>
                                        </div>
                                        <div id="collapseseven" class="collapse" data-bs-parent="#accordion">
                                          <div class="card-body">
                                            Vi gjør oppmerksom på at dersom du ønsker å avbestille leiebilen må dette gjøres innen 24 timer, for sen avbestilling må man betale 50% av beløpet på leien.
                                          </div>
                                        </div>
                                      </div>

                                      <div class="card">
                                        <div class="card-header">
                                          <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseegt">
                                            <span class="number">09</span>   Får jeg full tank på bilen?
                                            
                                         <span class="collapse_icon">
                                            <i class="material-icons">add</i>
                                         </span>
                                          </a>
                                        </div>
                                        <div id="collapseegt" class="collapse" data-bs-parent="#accordion">
                                          <div class="card-body">
                                            Du får full tank og leveres med full tank tilbake ved henvisning av kvittering.
                                          </div>
                                        </div>
                                      </div>

                                      <div class="card">
                                        <div class="card-header">
                                          <a class="collapsed btn" data-bs-toggle="collapse" href="#collapNine">
                                            <span class="number">10</span>  Får jeg oversikt over skader på bilen ?
                                            
                                         <span class="collapse_icon">
                                            <i class="material-icons">add</i>
                                         </span>
                                          </a>
                                        </div>
                                        <div id="collapNine" class="collapse" data-bs-parent="#accordion">
                                          <div class="card-body">
                                            Det står på leiekontrakten hvilken skader det er på bilen ved utlevering. <br>
                                            Vi anbefaler at kunden tar bilder av bilen før de kjører.
                                          </div>
                                        </div>
                                      </div>


                                </div>
                             
                                
                                </div>
                            </div>
                          </div>

                        </div>
                       
                    </div>
                </div>
    </div>
    
</div>
  
 
