<div class="Rental-personal-car">
    <div class="container pt-5 mt-5">
     
        <h3 class="mt-5" style="color: red;">
            OFTE STILTE SPØRSMÅL 
        </h3>
    
           
    <h2 style="color: red;"><br>
        Må jeg ha kredittkort for å leie bil?
    </h2><br>

    Ja. Du må garantere for leieavtalen med kredittkort.(MasterCard).
    <br>
   <h2 style="color: red;"> Kan jeg betale med kontanter?
   </h2><br>
     Du kan gjøre opp med kontanter hvis du gjerne vil, men du må garantere for leieavtalen med et kredittkort. Av sikkerhetsmessige årsaker anbefaler vi helst bruk av bankkort som betalingsmiddel, fremfor kontant. Og betalingen skjer på forhånd.
     <br>
     <h2 style="color: red;"> Hvilken ordning har dere med depositum?</h2><br>
    Kunde må være kredittverdig og ha med kredittkort. Du betaler for bilen ved henting. Etter leieforholdet trekker vi eventuelt drivstoff, bompasseringer og. annet som er i henhold til leieavtalen. 
    <br>
    <h2 style="color: red;">  Har leiebilene bombrikke?</h2><br>
     Våre biler har bompengebrikke for bomstasjoner. Bompasseringer blir belastet i ettertid med pålydende avgift pluss mva. 
    Bompasseringer og drivstoff kommer alltid i tillegg til leien. Vi er pålagt å fakturere bompasseringer pluss 25% moms.
    <br>
    <h2 style="color: red;"> Kan jeg tilbakelevere bilen utenom åpningstid?</h2><br>
    Ja. Avtal med oss ved henting av bil. <br>
    Det er nøkkelinnkast i hoveddøren.<br>
    
    <h2 style="color: red;">Kan jeg få faktura?</h2><br>
    Faktura kun til firma ved godkjent kredittsjekk.<br>
    
    <h2 style="color: red;">Er det mulig å parkere privatbilen hos dere?</h2><br>
    Ja. Parkering av privat bil på eget ansvar.<br>
    
    <h2 style="color: red;"> Hvor lenge før må jeg avbestille bilen?</h2><br>
    Vi gjør oppmerksom på at dersom du ønsker å avbestille leiebilen må dette gjøres innen 24 timer, for sen avbestilling må man betale 50% av beløpet på leien.
    <br>
    <h2 style="color: red;">Får jeg full tank på bilen?</h2><br>
    Du får full tank og leveres med full tank tilbake ved henvisning av kvittering.
    <br>
    <h2 style="color: red;">Får jeg oversikt over skader på bilen ?</h2><br>
    Det står på leiekontrakten hvilken skader det er på bilen ved utlevering. <br>
     Vi anbefaler at kunden tar bilder av bilen før de kjører.
   

    
    </div>
  
 
</div>