<div class="filter-scroll">
  <div class="btn-group advanceFilter" role="group" aria-label="Button group with nested dropdown">
    <button disabled class="btn btn-dark btn-heading">Sorter etter</button>
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Seter
      </button>
      <ul class="dropdown-menu animate__animated animate__fadeInDown" aria-labelledby="btnGroupDrop1">
        <li *ngFor="let s of SeatList"><a class="dropdown-item">{{s.Name}}</a></li>
      </ul>
    </div>
    <!-- ====== -->

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Girkasse
        </button>
        <ul class="dropdown-menu animate__animated animate__fadeInDown" aria-labelledby="btnGroupDrop1">
          <li *ngFor="let s of SteeringTypeList"><a class="dropdown-item">{{s.Name}}</a></li>
 
        </ul>
      </div>

        <!-- ====== -->

     <!-- <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Ant. Dorer
        </button>
        <ul class="dropdown-menu animate__animated animate__fadeInDown" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">1</a></li>
          <li><a class="dropdown-item" href="#">2 </a></li>
        </ul>
      </div> -->

        <!-- ====== -->

     <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Drivstoff
        </button>
        <ul class="dropdown-menu animate__animated animate__fadeInDown " aria-labelledby="btnGroupDrop1">
          <li *ngFor="let s of FuelTypeList"><a class="dropdown-item">{{s.Name}}</a></li>
             </ul>
      </div>

         <!-- ====== -->

     <div class="btn-group no-border" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Hjuldrift
        </button>
        <ul class="dropdown-menu animate__animated animate__fadeInDown" aria-labelledby="btnGroupDrop1">
          <li *ngFor="let s of DriveWheelTypeList"><a class="dropdown-item">{{s.Name}}</a></li>
        </ul>
      </div>

      <button type="button" class="btn btn-danger">Søk</button>

  </div>
</div>