<div class="Rental-personal-car">
    <div class="container pt-5 mt-5">
     
        <h1 class="mt-5">
            Trenger du utrydding av dødsboet?
        </h1>
        <p>
            Overlat jobben til oss og vi rydder dødsboet med verdighet. Velger du oss
    trenger du kun å forholde deg til ett firma. Vi kan hjelpe deg med å rydde ut,
    sortere inventaret, bære og kjøre bort til miljøstasjon.
        </p>
        <b>
            Vi har lang erfaring med dødsbo, vi tilbyr en totalløsning som innebærer
        tjenester:
           </b>
           <p>
            Rydding og kasting av søppel (utkjøring til miljøstasjon)
         Flytting av eiendeler
        
         Pakking
         Lagring
           </p>
    
    </div>
  
 
</div>