<div class="Rental-personal-car">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        
        </nav>
      </div>
    <div class="container mb-5">


        
        <div class="longtermbaner baner-rounded py-5" [style.background-image]="'url(\'assets/imgs/packing.png\')'">
        
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-8 text-center text-lg-start text-white px-5">
                  <h1 class="fw-bold mb-3">LANGTIDSLEIE</h1>
                  <p class="col-lg-10 fs-5 mt-3 mt-4">
                    Vi tilbyr langtidsleie av både personbiler og varebiler, til konkurransedyktige priser.
                  </p>
                </div>
                   </div>
          </div> 
      
          
        
        <h1 class="mt-5">
            Trenger du utrydding av dødsboet?
        </h1>
        <p>
            Overlat jobben til oss og vi rydder dødsboet med verdighet. Velger du oss
    trenger du kun å forholde deg til ett firma. Vi kan hjelpe deg med å rydde ut,
    sortere inventaret, bære og kjøre bort til miljøstasjon.
        </p>
        <b>
            Vi har lang erfaring med dødsbo, vi tilbyr en totalløsning som innebærer
        tjenester:
           </b>
           <p>
            Rydding og kasting av søppel (utkjøring til miljøstasjon)
        </p>
        <ul type = "circle">
            <li>Flytting av eiendeler</li>
<li>Pakking</li>
 
<li>Lagring</li>
        </ul>
                 
    
    </div>
  
 
</div>