<div class="Rental-personal-car">
    <div class="container">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb pt-2">
          <li class="breadcrumb-item"><a href="#">Hjem</a></li>
          <li class="breadcrumb-item"><a routerLinkActive="active" routerLink="/LongTermRental">Bilutleie</a> </li>
          <li class="breadcrumb-item active" aria-current="page">Bilabonnement</li>
        </ol>
      </nav>

      <div class="longtermbaner baner-rounded py-5">
      
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-8 text-center text-lg-start text-white px-5">
             
            </div>
            
          </div>
          <div class="row justify-content-center filter-pos">
                <div class="col-10">
                    <app-filter></app-filter>
                </div>
          </div>
    </div> 
    
    
    </div>
   
    

    <div class="container pt-5 mt-5">
     
        <h5 class="mt-5">
          LANGTIDSLEIE
        </h5>
        <p>
          Trenger du bil fra en måned til tre år? Da kan langtidsleie være et strålende
          alternativ til leasing eller kjøp av bil! Du bestemmer selv hvilken bil du trenger og
          hvor lenge du ønsker å leie. Vi har stort utvalg av biler til de fleste formål.
          Vår bilutleie er fleksibelt, forutsigbart og enkelt. De eneste kostnadene som kommer
          i tillegg ved langtidsleie hos oss er drivstoff, bompasseringer og eventuelle skader
          eller bøter.
        </p>
        <h5 class="mt-5">
        Hva er fordelene med å leie bil på langtidsleie hos Flyttom?
 </h5>
<ul type = "circle">

<li>
<b> Stort utvalg av biler</b><br> finn den perfekte bilen for deg, enten du ønsker en
        smart bybil eller en større modell med firehjulstrekk og god bagasjeplass.<br>
      </li>
      <li> <b> Høy kvalitet, lav kjørelengde</b><br>og godt vedlikeholdte kjøretøy<br>
      </li>
      <li> <b> Ingen verditap eller vedlikeholdskostnader</b><br> Perfekt for deg som kun
        trenger bil i enkelte perioder.<br>
      </li>
      <li> <b>Raskt og enkelt å leie kjøretøy </b> <br> Bestill direkte på nett eller snakk med en
        av våre erfarne medarbeidere, som hjelper deg med å finne bilen som
        passer til ditt behov.<br>
      </li>
      <li> <b>Bytt bil ved behov </b><br> Trenger du en større bil i neste måned? Kontakt din
        utleiestasjon så hjelper vi deg med å bytte.<br></li>
        Bestill direkte på nett eller ring oss på 51542400 (Besvares mellom kl. 09-16 i
        ukedager).
      </ul>
        <div class="row justify-content-center">
            <div class="col-sm-9 mt-4 text-center">
              <app-advancefilter></app-advancefilter>
            </div>
          </div>
    </div>
   
    <section class="feature_item py-5">
      <div class="container pt-5 mb-3">
        <div class="row">
            <div class="col-md-6 col-xl-6"  *ngFor="let carCard of RentalCard">
                <div class="card mb-4">
                  
                  <ng-container>
                   
                    <div class="card-body">
                      <div class="row mb-3">
                        <div class="col">
                            <h2>{{carCard.title}}</h2>
                            <!-- <h6 class="text-muted">
                              Sport
                            </h6> -->
                        </div>
                        <div class="col text-end mt-2">
                          <span class="favriout">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          </span>
                        </div>
                      </div>

                      <img class="card-img-top text-center" src="assets/imgs/feature/{{carCard.img}}" alt="Card image" style="width:100%">
                      <div class="row p-0 mt-5 gray">
                        <div class="col text-start">
                          <img class="icon-sm" src="assets/imgs/icons/petrol.png">  90L
                        </div>
                        <div class="col text-center">
                          <i class="fa fa-support" aria-hidden="true"></i>Manual
                        </div>
                        <div class="col text-end">
                          <i class="fa fa-users" aria-hidden="true"></i> 2 People
                        </div>
                     </div>

                      <div class="row p-0 mt-4 pt-1">
                        <div class="col text-start">
                         <strong> ${{carCard.price}} Per/</strong> <span class="text-muted">Day</span>
                        </div>
                      
                        <div class="col text-end">
                           <a  routerLink="/VanDetail" class="btn btn-danger mb-2">Mer info </a>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                
                  </div>
            </div>
           
        </div></div>
    </section> 
</div>

