
  <nav class="py-2 bg-dark border-bottom">
      <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
          <li class="nav-item me-3"><a href="#" class="nav-link text-white px-2">Hjem</a></li>
          <li class="nav-item me-3">            
              <a routerLinkActive="active" routerLink="/Om-oss" class="nav-link text-white px-2">                 
                Om oss</a>          
          </li>
          <li class="nav-item">
              <a routerLinkActive="active" routerLink="/Kontakt" class="nav-link text-white px-2">                 

                Kontakt</a></li>
        
        </ul>
        <ul class="nav">
          <li class="nav-item me-3"><a routerLinkActive="active" routerLink="/Veihjelp" class="nav-link text-white px-2">Veihjelp</a></li>
          <li class="nav-item me-3"><a href="mailto:post@flyttom.no" class="nav-link text-white px-2"><i class="fa fa-envelope-o" style="font-size:16px" aria-hidden="true"></i> post@flyttom.no</a></li>
          
          <!-- <div id="google_translate_element"></div> -->
        
          <li class="nav-item me-1"><a href="https://www.facebook.com/flyttom" target="_blank">
            <i class="fa border fa-facebook" ></i>
          </a></li>
          <li class="nav-item me-3"><a href="https://www.instagram.com/flyttom" target="_blank">
            <i class="fa border fa-instagram" ></i>
          </a></li>
          <li class="nav-item"><span  class="phone-block">
            <a href="tel:+51 54 24 00">51 54 24 00</a>
          </span></li>
        </ul>

      </div>
    </nav>

<nav class="navbar navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand" href="#">
      <!-- javascript:void(0) -->
      <img src="../assets/imgs/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown me-3">
              <a class="nav-link dropdown-toggle"  routerLinkActive="active" href="#" role="button" data-bs-toggle="dropdown">
                <img class="me-2" src="../assets/imgs/icons/sedan.svg"> Bilutleie  </a>
              <ul class="animate__animated animate__fadeInDown dropdown-menu dropdown-menu-end">
                <!-- <li>
                  <a  class="dropdown-item text-muted">Bilutleie</a>
                </li> -->
                <li class=""><a routerLinkActive="active" routerLink="/Varebiler"  class="link-w-icon Vans dropdown-item" href="#">
                  Varebiler
                </a></li>

                <li class="">
                  <a routerLinkActive="active" routerLink="/Personbiler" class="link-w-icon PersonalCars dropdown-item">
                    Personbiler
                </a>
              </li>
              <li class="">
                <a routerLinkActive="active" routerLink="/Elbiler" class="link-w-icon battery dropdown-item">
                  Elbiler
              </a>
            </li>
                <li class=""><a routerLinkActive="active" routerLink="/Bilabonnement"   class="link-w-icon hand dropdown-item" href="#">
                  Bilabonnement
                </a></li>

                <li class=""><a routerLinkActive="active" routerLink="/Bedriftsavtale"   class="link-w-icon LongTermRent dropdown-item" href="#">
                  Bedriftsavtale
                </a></li>
                
                <li class=""><a routerLinkActive="active" routerLink="/Faq"   class="link-w-icon faq dropdown-item" href="#">
                  FAQ
                </a></li>
              </ul>
          </li>
        <li class="nav-item dropdown me-3 border-se">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <img class="me-2"  src="../assets/imgs/icons/delivery-van.svg"> Flytting </a>
          <ul class="animate__animated animate__fadeInDown dropdown-menu dropdown-menu-end">
            <!-- <li>
              <a class="dropdown-item text-muted">Car Rental</a>
            </li> -->
            <li class=""><a [routerLink]="['/Privatflytting']" routerLinkActive="active"  class="link-w-icon PrivateMoving dropdown-item" href="#">
              Privatflytting
            </a></li>

            <li class=""><a routerLinkActive="active" routerLink="/Pakking"  class="link-w-icon Packing dropdown-item" href="#">
              Pakking
            </a></li>
            
            <li class=""><a [routerLink]="['/Bedriftsflytting']" routerLinkActive="active"  class="link-w-icon CompanyMoving dropdown-item" href="#">
              Bedriftsflytting
            </a></li>
            <li class=""><a [routerLink]="['/Dødsbo']" routerLinkActive="active" class="link-w-icon Dodsbo dropdown-item" href="#">
              Dødsbo
            </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [routerLink]="['/Lagerhotell']"  role="button" data-bs-toggle="dropdown">
            <img class="me-2"  src="../assets/imgs/icons/package.svg"> Lagerhotell </a>
          <!-- <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item text-muted">Storage </a>
            </li>
             <a [routerLink]="['/Storage']" routerLinkActive="active"  class="link-w-icon CompanyMoving dropdown-item" href="#">
            Lagerhotell
          </a>
          </ul> -->
        </li>
      </ul>
    
    </div>
  </div>
</nav>

<div [hidden]="!loader.IsLoading()">
  <div class="blockUI blockOverlay" style="position: fixed; background: rgba(255,255,255,0.6); z-index: 1105; top: 0; left: 0; right: 0; bottom: 0;"></div>
  <div class="blockUI blockMsg blockPage" style="position: fixed; z-index: 1105; top: 0; left: 0; right: 0; bottom: 0;">
      <div class="loading-message loading-message-boxed" style="position: relative; top: 50%; transform: translateY(-50%);">
          <img src="../assets/imgs/logo.png" style="display: table; margin: 0 auto; width: 230px;" />
      </div>
  </div>
</div>  


<router-outlet></router-outlet>



<app-footer></app-footer>
