.btn-outline-light{
  &:hover{
    background: transparent;
  }
}
.navbar {
  height: 88px;
  .navbar-brand  img{
    max-height: 78px;
  }
}
.dropdown-menu{
  padding: 20px 25px 15px;
  margin-top: 40px;
  width: 300px;
  box-shadow: 0px 24px 32px 4px rgba(167, 174, 186, 0.12);
}
.nav-item.dropdown{
  & > a{
    color: #000;
    font-weight: bold;
  }
}
ul.dropdown-menu:after {
  position: absolute;
  width: 22.5px;
  height: 22.5px;
  top: -5px;
  background: #ffffff;
  border-radius: 4px;
  transform: matrix(0.63, -0.78, 0.63, 0.78, 0, 0);
  content: "";
  right: 19px;
}
.dropdown-item.active, .dropdown-item:active {
  color: #000;
  background-color: rgba(210, 44, 62, 0.1);
}

.phone-block{
  
  display: inline-block;
  color: #fff;
  padding: 2px 10px;
  border: 0px solid #fff;
  border-radius: 14px;
  box-shadow:0px 0px 0px 1.5px #fff;
  margin-top: 6px;

  a{
    text-decoration: none;
    color: #fff;
  }
}
.border-se{
  padding: 0 15px;
  position: relative;
  &::before,
  &::after{
    width: 1px;
    position: absolute;
    content: "";
    left: 0;
    top: 12px;
    height: 20px;
    background: #49576c;
  }
  &:after{
    left: inherit;
    right: 0 ;
  }
}



@media (max-width: 576px) {
  .navbar-collapse .dropdown-menu {
    padding: 0;
    margin-top: 0;
    width: 300px;
    box-shadow: none;
    border: 0px;
  }
  .navbar .navbar-brand img {
    max-height: 58px;
  }
  .border-se{
    padding: 0;
    &:before, &:after{
      display: none;
    }
  }
}
.dropdown-item, .nav-link{
  
  color: #111B29;
}