.ContactBaner{
    background: linear-gradient(106.34deg, rgba(0, 0, 0, 0.4) 31.76%, rgba(0, 0, 0, 0) 84.65%),url('../../../assets/imgs/ContactUs.png');
   // background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('assets/imgs/Hero-BG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.ContactBaner:before {
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(148deg, black, transparent);
    border-radius: 16px;
}
.custom-radio input[type="radio"]{
    transform: scale(1.5);
}