<div class="Rental-personal-car">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        
        </nav>
      </div>
    <div class="container mb-5">


        
        <div class="longtermbaner baner-rounded py-5" [style.background-image]="'url(\'assets/imgs/storage.JPG\')'">
        
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-8 text-center text-lg-start text-white px-5">
                  <h1 class="fw-bold mb-3">Lagerhotell Stavanger</h1>
                  <p class="col-lg-10 fs-5 mt-3 mt-4">
                  
                  </p>
                </div>
                   </div>
          </div> 
      
          
        
        <h5 class="mt-5">
            Lagerhotell Stavanger
        </h5>
        <p>
            Vi tilbyr leie av lagerboder for trygg og tørr oppbevaring. Arealet du har til
rådighet, er boder i størrelsen fra 3 m2 til 35m2. Dette er et selvbetjeningslager
som gjør at du har tilgang til boden 24 timer rundt døgnet. Du kan leie
lagerplass så lenge du vil, for en måned eller langtidsleie. Alt etter ditt behov.
Du kommer inn på lageret ved hjelp av adgangskode som du får tildelt ved
leieavtalens oppstart.
        </p>
       
       
    <h5>LAGRINGSTIPS</h5>
    <ul type = "circle">
        <li>Planlegg i forkant slik at du får optimalisert lagerplassen</li>
<li>Benytt robuste flyttekasser/lagerbokser</li>

<li>Sørg for forsikring før dine eiendeler skal flyttes til lageret</li>
<li>Flyttekasser i samme størrelse er enklere å stable</li>
<li>Merk alle boksene godt, spesielt knustbare gjenstander</li>
<li>Kjøleskap/frysere må avrimes, la dørene på disse stå åpne</li>
<li>Våte gjenstander bør ikke lagres/oppbevares</li>
<li>Knustbare objekter bør pakkes inn i bobleplast</li>
<li>Madrasser, sofaer o.l. bør dekkes til med plast</li>
<li>Demonter gjenstander for å spare plass</li>
<li>Elektrisk utstyr som TV, stereoer etc. bør pakkes inn</li>
<li>Husk å merke flytteboksene med «Denne siden opp»Ikke bruk<br>
    søppelposer. Dine ting bør ikke håndteres som søppel</li>
    </ul>
    </div>
  
 
</div>