<div class="Rental-personal-car">
    <div class="container">
    <div class="agreement-baner baner-rounded py-5">
      
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-8 text-center text-lg-start text-white px-5">
             
            </div>
            
          </div>
    </div> 
    </div>
    <div class="container">
     
        <h5 class="mt-5">
            Bedriftsavtale
        </h5>
        <p>
            Vi tilbyr gode individuelle bedriftsavtaler med konkurransedyktige betingelse basert på volum.
    
            Dette gjør det enklere for bedrifter som ofte har behov for å leie både personbiler, ulike størrelse varebiler og biler for transport av mannskaper til prosjekter som krever høy bemanning.
            
            Som bedriftskunde har en fordel med rabatterte priser og vi vil alltid gjøre vårt beste for å dekke bedrifters bilbehov. Vi har også muligheter til å avtale utlevering av leiebil utenom ordinær arbeidstid når det er behov for det. Bare ta kontakt for ytterligere informasjon om priser og betingelser. Vi tilbyr gode bedriftsavtaler på både personbiler og varebiler.
        
    
    </div>
  
 
</div>