
<!-- ============= Footer  -->

<footer class="footer-section">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="widget company-intro-widget">
              <a href="index.html" class="site-logo"> <img src="../assets/imgs/logo.png"></a>
              <p>
                
                Et trygt valg basert på 20 års erfaring!<br>
                Flyttom AS har vært en solid leverandør av tjenester <br>innen bilutleie, flytting og lagerhotell i godt over 20 års bransjen.
              </p>
              <p>
                All rights reserved.
              </p>
            </div>
          </div><!-- widget end -->
          <div class="col-lg-7">
            <div class="row">
              <div class="col-lg-8 col-md-6">
                <div class="widget latest-news-widget">
                  <h5 class="widget-title">Kontaktinformasjon</h5>
                  <ul class="small-post-list">
                    <li>
      
                      <div class="small-post-item">
                        <a href="#"> <span class="fa fa-phone me-1 text-danger"></span> 51 54 24 00</a>
                        <a class="d-block"><span class="fa fa-phone me-1  text-danger"></span> 91 37 50 53</a>
                        <h6 class="small-post-title mt-3"><a href="#">
                          Telefontider
                          Mandag - Fredag
                          (09:00-16:00)
                        </a></h6>
                      </div>
                    </li><!-- small-post-item end -->
                    <li>
                      <div class="mt-2">
                        <a href="#" class="d-block"><i class="fa fa-envelope me-1  text-danger" style="font-size:17px" aria-hidden="true"></i> Post@flyttom.no</a>
                        <h6 class="small-post-title mt-3"><a href="#"> <i class="fa fa-map-marker me-1  text-danger" aria-hidden="true"></i>  Randabergveien 98,
                          4027 Stavanger</a></h6>
                      </div>
                    </li><!-- small-post-item end -->
                  </ul>
                </div>
              </div><!-- widget end -->
              <div class="col-lg-4 col-md-6">
                <div class="widget latest-news-widget">
                  <h5 class="widget-title">Åpningstider</h5>
                  <ul class="small-post-list">
                    <li>
                      
                      <div class="small-post-item">
                        <a href="#" >Mandag -Fredag <br>
                          09:00 - 16:00</a>
                        <h6 class="small-post-title mt-3"><a href="#">Lørdag<br>
                          Kun etter avatale</a></h6>
                      </div>
                    </li><!-- small-post-item end -->
                    <li>
                      <div class="mt-2">
                        <a href="#" class="post-date">Søndag<br>
                          Kun etter avtale</a>
                       </div>
                    </li><!-- small-post-item end -->
                  </ul>
                </div>
              </div><!-- widget end -->
              <!-- <div class="col-lg-4 col-md-6">
                <div class="widget newsletter-widget">
                  <h5 class="widget-title">COVID-19 TILTAK</h5>
                  <div class="footer-newsletter">
                    <p>Vi har et ansvar for a gjore
                      mest mulig  for  a hindre smitte  for vare ansatte og 
                      kunder, og vi folger derfor
                      utviklingen av 
                      coronaviruset noye.</p>
                   
                  </div>
                </div>
              </div> -->
              <!-- widget end -->
            </div>
          </div>
        </div>
      </div> 
    </div>
  </footer>
  