<section class="AboutUS">
    <div class="container">
        <div class="row py-5">
            <div class="col-sm-6 text-white">
                <div class="px-5">
                    <h1 class="fw-bold mb-3">
                        About Us
                    </h1>
                    <p>
                        Flyttom har tilbudt utleietjenester i Rogalandsområdet siden 2000-tallet. Vi har etablert en
                        solid posisjon i markedet ved å tilby tjenester som tilfredsstiller våre kunder, men og på en
                        måte som våre kunder verdsetter. Kjent for våre høye standarder innen service og våre
                        rimelige priser. Fornøyde kunder gir gode resultater.  </p>
                        <p>
                            Vår virksomhet har derfor vokst med
                            årene og vi skiller oss nå ut fra mengden med vårt brede og moderne utvalg av
                            personbiler, varebiler og lastebiler samt flytte– og transporttjenester. 
                        
                            På femten år økte
                            antallet ansatte fra én til åtte. Våre kunder må stole på oss og de må kunne stole på at vi
                            vil gjøre vårt beste i enhver situasjon. Derfor er intern kvalitetskontroll viktig for oss. Vi
                            følger nøye med på våre rutiner og bilvedlikehold. Som en tilleggstjeneste til våre kunder
                            er vi tilgjengelige 24 timer i døgnet.
                        </p>
                        <p>
                            Leier du bil utenom åpningstid, vil det komme et
                            pristillegg. Alle våre leiebiler og tjenester leveres etter avtale og er forsikret i henhold til
                            kontrakten. Varebilene vi tilbyr kommer i størrelser fra 4m3 til 23m3.
                            Det er mulig å kjøre inntil 23m3 med vanlig førerkort klasse B.
                        </p>
                        <button class="btn btn-danger px-3 btn-lg">Kontact Us</button>
                
                
                </div>
            </div>
    
            <div class="col-sm-6">
                <img  src="../../../assets/imgs/Aboutus.png" class="img-fluid w-100">
            </div>
        </div>
    </div>
</section>
