<div class="Rental-personal-car">
    <div class="container pt-5 mt-5">
        <h1 class="mt-5">
            Leiebetingelser
        </h1>
        <p>
            
– Prisene på leien er inkludert mva. og gjelder i Norge.
– Drivstoff, ferje og bompasseringer kommer i tillegg.
– Bilen hentes og tilbakeleveres på samme utleiested om ikke annet avtales.
– Minimumsalder for fører av leiebil er 24 år med gyldig førerkort.
– Et leiedøgn er 24 timer. Avbestilling minimum 1 døgn før avtalt utlevering. Ved
avbestilling mindre enn 24 timer før leietidspunkt, faktureres 25 % av totalbeløpet.
Minimum Kr. 300,-.
– Service, forsikring, årsavgift, dekk & dekkhotell inkludert.
– Leie betales forskuddsvis pr. dag/mnd. Selskaper med godkjent kredittsjekk kan ha
opp til 30 dager forfallsdato.
– Leien inkluderer opp til 24.000 km pr år. – gjelder langtidsleie – Prisen inkluderer
alltid erstatningsbil ved service, dekkskift ol. – gjelder langtidsleie.
– Utleiested er Stavanger.
– Depositum varier fra 12.000 kr til 16.000 avhengig av biltype og leieperiode.
ALDER
Minimumsalder for å leie bil er 23 år, og man må ha hatt gyldig førerkort.
Personen som leier bilen må være kredittverdig.
BETALING
Vi godkjenner følgende kredittkort som betalingsmiddel: Visa og Mastercard
Ved henting av bil skal gyldig førerkort og kredittkort/betalingskort medbringes. NB:
Kontant betaling aksepteres ikke. Vi blokkerer et depositum på kredittkortet på
hentetidspunktet. Dette beløpet holdes til bilen er levert tilbake. Beløpet går ikke ut
av konto. Dette vil skje 3-4 dager etter avsluttet leie, og depositumet blir samtidig
opphevet.
Sørg alltid for at det er nok dekning på kortet på leietidspunktet. De kan beholde
hele eller deler av depositumet hvis du ikke leverer bilen med full tank, eller ikke
leverer bilen i det hele tatt. Hvis du leverer bilen skadet, blir depositumet brukt til å
dekke egenandelen på forsikringen.
BOMVEIER / AUTOPASS
Bompasseringer og ferje belastes etterskuddsvis. Ved passeringer i andre
bomstasjoner må våre kunder, der det er mulig, kjøre gjennom bomstasjonen på
“Manuell” eller “Mynt” og betale selv. Våre biler har bompengebrikke for
bomstasjoner.
Bompasseringer blir belastet i ettertid med pålydende avgift pluss mva.
Det er ingen rabatt på bompasseringer eller ferje, kunden betaler opprinnelige priser.


LEIETAKER/FØRER
Leietaker fremviser gyldig førerkort og den/de som står nevnt i leiekontrakten står til
enhver tid ansvarlig i leieperioden for kjøretøyet.
Ved skade som er påført med vilje eller ved uaktsomhet kan utleier søke regress mot
leietaker. Leietaker er også økonomisk ansvarlig ovenfor utleier for skader som er
påført kjøretøyet og for tap ved tyveri i leieperioden. Ved skade/tyveri stilles
leietaker ansvarlig for alle skader som ikke dekkes av forsikringen.
HENTING / LEVERING
Etter avtale. Leietaker må selv sørge for å fjerne søppel og annet tilhørende.
Utlevering og tilbakelevering skal i utgangspunktet foregå på samme stasjon og
innenfor kontorets åpningstid. Bilen er ved utlevering rengjort innvendig og
utvendig, samt sjekket for skader. Ved innlevering skal bilen være rengjort utvending
samt ryddet og fri for søppel innvendig. Dette for å lette skadekontrollen for din og
vår sikkerhet. Ved levering utenfor åpningstid er kunden ansvarlig for alle skader
som måtte påføres bilen inntil den blir kontrollert av en av våre ansatte.
DRIVSTOFF
Bilen utleveres med full tank, og innleveres med full tank. Regning på eventuelt
manglende drivstoff samt et administrasjonsgebyr vil bli fakturert leietager i
etterkant. PRIS LER LITER AV DRIVSTOFF: 20kr
EGENANDEL
Våre utleiepriser inkluderer IKKE forsikring. Vår egenandel per skade er 16000,- NOK
PARKERINGSGEBYR
Dersom de blir ilagt gebyr for feil-parkering må denne betales omgående. Vær
spesielt oppmerksom på de mange private parkeringsplasser som ofte krever
betaling hele døgnet.
NB! Manglende betaling av parkeringsgebyr vil medføre et krav mot dem personlig.
Gebyr, samt tilleggsgebyr, kan øke med flere hundre kroner. Viktig. Ubetalte eller for
sent betalte bøter/avgifter blir tillagt 100% ekstra gebyr. Vi ber dem anstendig om å
betale bøter/avgifter omgående.
BØTER
Leietaker må selv dekke alle former for bøter og disse må betales omgående slik at
tilleggsavgifter ikke tilkommer. Leietaker er personlig ansvarlig for eventuelle
gebyrer og tilleggsavgifter.
Viktig. Ubetalte eller for sent betalte bøter/avgifter blir tillagt 100% ekstra gebyr. Vi
ber dem anstendig om å betale bøter/avgifter omgående.
ØVRIGE TILLEGGSGEBYRER
Pris pr. etterfylling kr 20,- kr pr liter pris på drivstoff.
Nøkler som mangler ved innlevering av bilen: Innelåste nøkler eller nøkler som
kommer til rette – kr 2500,- inkl. mva.
Mistet eller ødelagte nøkler: kr 5.000,- inkl. mva.
Det er ikke tillatt å ha med dyr eller røyke i våre leiebiler. Et gebyr på inntil kr 2500,-
pluss mva. vil bli belastet ditt leieforhold hvis dette ikke overholdes.
Rensing av bil innvendig: 600,- Utvendig 600,- innvendig rens av setter/tepper 2000,-
• Kunder uten kredittavtale må deponere ved avhenting av bil. All deponering
skjer ved at vi reserverer leiebeløpet pluss et depositum (minimum kr 3000,-)
på kundens kredittkort/debetkort. Beløpet som reserveres står hele tiden på
kundens konto, men det er ikke disponibelt for kunden. På grunn av
automatisk oppdatering av bompasseringer fra Fjellinjen avregnes ikke
kontrakten før det har gått 3-4 døgn etter innlevering. Etter at vi har trukket
leiebeløp, eventuelle bompasseringer, skader og drivstoff, vil resten av
depositumet frigjøres. Det frigjorte beløpet er normalt disponibelt for kunden
3-5 virkedager etter avregning. Dette skyldes systemforhold hos din bank
eller kortselskap, og er ikke noe Sunndal Bilutleie kan påvirke. Dersom du
opplever problemer med dette må du derfor kontakte din bank eller
kortselskap. Vær oppmerksom på at vi kun aksepterer kredittkort som
betaling. Debetkort med Visa og Mastercard aksepteres også.
• Ved motorstopp eller skade skal utleieren omgående kontaktes for å avgjøre
hvor eventuell hjelp skal rekvireres. Se eget hefte i bilens hanskerom. Hvis
utleieren ikke kan treffes skal Falck’s alarmstasjon kontaktes. Leieren kan ikke
uten utleierens samtykke rekvirere eller bestille reparasjon. Tyveri,
tyveriskade, brann, personskade, skade på dyr skal omgående anmeldes til
utleieren og politi.
• Hvis leiebilen ikke kan fortsette pga. driftsstans, erstattes kun videre
transport til bestemmelsesstedet med offentlig kommunikasjon som buss og
tog. Utleieren fraskriver seg overfor leieren ethvert ansvar ut over det
nevnte. Denne ansvarsfraskrivelsen gjelder både med hensyn til tap av tid,
økonomisk tap eller annet som skyldes eventuell driftsstans eller som måtte
oppstå av eller ha forbindelse med leieforholdet. Hvis driftsstans skyldes
skade som leieren selv er skyld i, bortfaller erstatning til videre transport. Ved
lengre turer enn 300 km fra utleierens kontor skal utleieren på forhånd være
informert om bestemmelsesstedet. Bilen kan være utstyrt med GPS sender.
• Leieren er innforstått med at bilen er av eldre årgang og har av den grunn
større risiko for driftsstans i forhold til en ny bil. Det frarådes derfor å leie
bilen hvis bilen skal brukes i sammenheng hvor forsinkelse ikke kan tolereres.

ØVRIGE VILKÅR I. LEIETAKERS ANSVAR
1. I leietiden og inntil kjøretøyet er levert tilbake til utleier, bærer leietaker alt
ansvar for kjøretøyet og bruken av det som om han var eier av dette, herunder også
parkerings- og trafikkforseelser o.l. Leietaker er fullt ut erstatningspliktig for alle
skader påført av og på kjøretøyet (ref. utleiers norske leiebetingelser).
2. Inntreffer kollisjonsskadde, skade ved utkjøring e.l. kan utleieren ellers
dennes forsikringsselskap søke regress hos leieren dersom leietaker har utvist grov
uaktsomhet eller overtrådt de plikter han har etter disse leievilkår. Alle skader skal
leietaker omgående melde til utleieren eller representant for denne. Er dette umulig,
skal saken anmeldes til politiet. I motsatt fall risikerer leier å bli holdt ansvarlig for
hele skaden.
3. Tyveri, brann, hærverksskader, personskader og skade på dyr skal alltid
meldes til politi og utleier.
4. Leiers egenandel forfaller umiddelbart til betaling (ref. gjeldende norske
leiebetingelser).
5. Leietager blir belastet en egenandel pr. skadetilfelle. er skade påført
kjøretøyet som følge av uaktsomhet, blant annet følgende:
A. Skader som er påført bilen på grunn av last som har forskjøvet seg, er dårlig surret
eller emballert.
B. Brent eller skåret hull, flekker på setetrekk e.l.
C. Felgkjøring av dekk.
D. Skader oppstått ved snøras fra hustak hvor det er oppsatt anvisere.
E. Slagskader på karosseri/understell ved bruk av snøkjettinger.
F. Skader som skyldes kjøring på steder som ikke har fysisk plass til kjøretøyet i
høyde, bredde eller lengde.
G. Skader som følge av kjøring utenfor offentlig vei eller område stengt for alminnelig
ferdsel, uten skriftlig aksept fra utleier.
1. LEIETAKERS PLIKTER
1. Leietaker plikter å behandle kjøretøyet på forsvarlig måte, og ikke:
A. Benytte kjøretøyet til øvelses kjøring
B. Ta kjøretøyet ut av landet uten utleiers samtykke.
C. Benytte kjøretøyet i ulovlig øyemed.
D. Overlate kjøretøyet til andre – eller la det kjøres av annen enn sjåfør allerede
godtatt av utleieren før leieforholdet startet.
E. Benytte kjøretøyet til billøp, fartsprøver eller konkurranse.
F. Taue andre kjøretøy.
G. Befordre flere personer enn det antall det er registrert for.
H. Kjøre med leid kjøretøy i påvirket tilstand, være seg av alkohol, narkotika,
medisiner eller annet. I. Forlate bilen ulåst.
J. Laste bilen med mer enn kjøretøyet er registrert for. Dersom leietaker overtrer
noen av disse pliktene, er han ansvarlig for enhver økonomisk følge av inntruffet
skade, tap og ekstraomkostninger.
2. Inntreffer kollisjons-skade, skade ved utforkjøring e.l. eller oppstår teknisk feil av
slik art at leietaker ikke kan fortsette med kjøretøyet, plikter leietaker omgående å
underrette utleier om hendelsen. Dersom tekniske feil kan bli utbedret innen en tid
som står i rimelig forhold til leietakers behov og leietiden, kan leietaker ikke avbryte
leieforholdet. Om så skjer vil leietaker være ansvarlig for leien inntil kjøretøyet er
tilbakelevert til utleieren – dog med fradrag av den tid da kjøretøyet var i ustand.
Avbrytes leieforholdet i slike tilfeller av leietakeren, er han ansvarlig for de utgifter
utleieren blir påført i forbindelse med å få kjøretøyet bragt tilbake. Dersom
reparasjonen ikke kan besørges innenfor den nevnte frist, avgjør utleieren om han vil
levere nytt kjøretøy til kunden for fortsettelse av leieforholdet, eller om
leieforholdet skal ansees som opphørt fra den tid utleieren fikk melding om
forholdet fra leietaker. Utleieren besørger da kjøretøyet tilbake transportert for egen
regning, og utleieren er da uten ansvar for ethvert tap eller ansvar som leietaker
måtte påføres.
LEIETAKERS ØKONOMISKE ANSVAR
Leietakers økonomiske ansvar er spesifisert i utleiers gjeldende NORSKE
LEIEBETINGELSER og prislister som leietaker, signering av leiekontrakt, forutsetter
aksept av vilkår og kontrakt. V. ANSVARSFRAVIKELSE Utleieren fraskriver seg ethvert
ansvar overfor leieren med henhold til tap av tid, penger eller annet som måtte
oppstå av, eller ha forbindelse med leieforholdet. Utleiers ansvar for gjenglemte
gjenstander mv. Utleier påtar seg intet ansvar for skade på eller tap av eiendom som
av leietaker eller annen person er etterlatt, oppbevart eller befordret i kjøretøyet i
leieperioden, eller etter tilbakelevering til utleier. Leietaker fritar utleier for alle krav
som på grunn av slike tap eller skader kan gjøres gjeldende mot utleier. Viktig.
Ubetalte eller for sent betalte bøter/avgifter blir tillagt 100% ekstra gebyr.
Leieren er innforstått med at bilen er av eldre årgang og har av den grunn større
risiko for driftsstans i forhold til en ny bil. Det frarådes derfor å leie bilen hvis bilen
skal brukes i sammenheng hvor forsinkelse ikke kan tolereres.
Hvis leiebilen ikke kan fortsette pga. driftsstans, erstattes kun videre transport til
bestemmelsesstedet med offentlig kommunikasjon som buss og tog. Utleieren
fraskriver seg overfor leieren ethvert ansvar ut over det nevnte. Denne
ansvarsfraskrivelsen gjelder både med hensyn til tap av tid, økonomisk tap eller
annet som skyldes eventuell driftsstans eller som måtte oppstå av eller ha
forbindelse med leieforholdet. Hvis driftsstans skyldes skade som leieren selv er
skyld i, bortfaller erstatning til videre transport. Ved lengre turer enn 300 km fra
utleierens kontor skal utleieren på forhånd være informert om bestemmelsesstedet.
Bilen kan være utstyrt med GPS sender.
Ved motorstopp eller skade skal utleieren omgående kontaktes for å avgjøre hvor
eventuell hjelp skal rekvireres. Se eget hefte i bilens hanskerom. Hvis utleieren ikke
kan treffes skal Nemi Forsikring alarmstasjon kontaktes. Leieren kan ikke uten
utleierens samtykke rekvirere eller bestille reparasjon. Tyveri, tyveriskade, brann,
personskade, skade på dyr skal omgående anmeldes til utleieren og politi.
Leietageren er forpliktet til å overholde de vilkår og betingelser som står på begge
sider av denne leieavtalen. Leietageren må returnere kjøretøyet på eller før angitte
dato og tid til samme lokalitet som det ble leid under utleierens normale
åpningstider, med mindre annet er avtalt skriftlig. Leietageren eller kortinnehaver gir
utleieren fullmakt til å lage kredittkortanvisninger for bl.a. markedsverdien på
kjøretøyet som eventuelt ikke returneres oss, alle bøter/gebyrer, mulkter, skader,
borttauing, rettskostnader, tap eller administrative gebyrer som utleieren pålegges
for parkering, trafikk- og andre overtredelser som leietager har pådratt utleieren og
foreta utbetalinger av gebyrer slik utleieren anser som nødvendig. Den derved gitte
fullmakt gjelder også bemyndigelse til å belaste kredittkortet for ytterligere leie/krav
på erstatning dersom bilen tilbakeleveres etter utløpet av den avtalte leietid.
Forsinkelse med hensyn til tilbakelevering av bilen ut over 1 – en – time i forhold til
den avtalte leietid, gir utleier krav på ett døgns ekstra leie i tillegg til leie for første
døgn, og deretter krav på å få erstattet den avtalte døgnpris så lenge bilen faktisk
disponeres og ikke er tilbakelevert av leietageren til utleveringsstedet i
kontraktsmessig stand. Leietagers og / eller kortholders underskrift nedenfor gjelder
som bekreftelse på kredittkortanvisninger og gir utleier myndighet til å belaste
kredittkortet i h.t. ovennevnte fullmakt. Denne adgang til belastning av kredittkort
gjelder også for eventuell avtalt faktisk forlengelse av leietiden.    </p>

    
    </div>
   
</div>