<div class="Rental-personal-car pb-5">
    <div class="container">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb pt-2">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Moving Services</a> </li>
          <li class="breadcrumb-item active" aria-current="page">Packing</li>
        </ol>
      </nav>

      <div class="packing-baner baner-rounded py-5">
      
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-8 text-center text-lg-start text-white px-5">
              <h1 class="display-4 fw-bold lh-1 mb-2">Privatflytting</h1>
              <p class="col-lg-10 fs-5 mt-3 mt-4">
               <b> Er det tid for å flytte til et nytt sted å bo? La oss hjelpe!</b><br>
                Flyttom AS er din totalleverandør innen flyttetjenester. Vi skreddersyr løsninger som passer
                for deg. Vi har dyktige og erfarne medarbeidere som har jobbet med oss siden 2002.
                </p>
            </div>
          </div>
    </div> 
    
    
    </div>
   
    

    <div class="container">
     
        <h1 class="mt-5">
          Flyttebyrå Stavanger
        </h1>
        <h1 class="mt-5">
          Er det tid for å flytte til et nytt sted å bo? La oss hjelpe!
      </h1>
        <p>         
         
          Flyttom har lang erfaring innen flytting av møbler og kunstverk, små og store
gjenstander med stor affeksjonsverdi, esker med glass og servise, sekker med tøy –
og hva det måtte være.
Vi har stor respekt for dine eiendeler – du kan føle deg trygg på at vi tar jobben
seriøst. Våre folk utfører jobben med stor varsomhet. Privatfolk på flyttefot ønsker
ofte å gjøre en egeninnsats ved å flytte småting i egen bil, og så overlate de store
løftene til oss. Eller vi tar rubb og rake. De tyngste løftene blir uansett foretatt av oss
– vi skal love å flytte pianoet og safen med et smil! Vi legger stor vekt på den enkelte
kunde sine behov, og bidrar med rådgivning etter ønske fra den enkelte
kunde/bedrift. Innholdet i tjenesten varierer ofte fra oppdrag til oppdrag, og er
avhengig av hvilken type gods som skal flyttes. Vi håndterer alt fra tunge og robuste
gjenstander til skjøre gjenstander som trenger spesial emballering, håndtering og
transport.
          </p>
          <h1 class="mt-5">
          Vi utfører en rekke tjenester innenfor det enkelte flytteoppdraget:
          </h1>
 Befaring og planlegging av oppdraget<br>
 Pakking og emballering<br>
 Lasting<br>
 Mellomlagring (ved behov)<br>
 Transport<br>
 Levering<br>
 Utpakking<br>
 Lagring (kort- eller langsiktig)<br>
 Flytteforsikring<br>

        <div class="row justify-content-center">
            <div class="col-sm-10 mt-4 stepsform">
                <div class="card">
                  <div class="card-body form-card">
                  
                    <h3 class="card-title text-center mt-4">Get an offer for relocation assistance</h3>
                    <div class="row justify-content-center mt-4">
                        <div class="col-6">                               
                           <div class="slider-wrap active{{sliderValue}}">
                            <input type="range" class="form-range" [(ngModel)]="sliderValue" min="0" max="7" step="1">
                           
                           </div>
                        </div>
                         </div>
                    <div class="setp1" *ngIf="sliderValue === 0">
                    <form class="row g-3" [formGroup]="MovingForm1">
                      <div class="row">
                        <div class="col-sm-6">
                          
  
                          <div class="mb-3 DatePicker">
                            <label for="Name" class="form-label">Desired moving date:</label>
                            <div class="input-group">
                              <input
                                   class="form-control"
                                   placeholder="DD/MM/yyyy"
                                   formControlName="DesiredMovingDate"[(ngModel)]="model.DesiredMovingDate"
                                   ngbDatepicker
                                   #dm1="ngbDatepicker"
                               />
                              <button class="btn btn-outline-secondary bi bi-calendar3" type="button"   (click)="dm1.toggle()">
                                  <img src="../assets/imgs/icons/calendar.svg">
                               </button>
                           </div>
                           <div class="text-danger" *ngIf="submitted && (fs1['DesiredMovingDate']?.invalid)">
                            This value is required.
                        </div>
                          </div>

                          <div class="mb-3 DatePicker">
                            <label for="Name" class="form-label">Flexible moving date:</label>
                            
                            <select class="form-control form-control-sm form-control-alternative" formControlName="FlexibleMovingDateId" [(ngModel)]="model.FlexibleMovingDateId">
                              <option *ngFor="let item of FlexibleMovingLoadList" [value]="item.ID">
                                  {{item.Name}}
                              </option>
                          </select>  
                          <div class="text-danger" *ngIf="submitted && (fs1['FlexibleMovingDateId']?.invalid)">
                            This value is required.
                        </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label">Do the objects have to be stored between moving out and
                                moving in?:</label>
                             
                                <div class="form-check-wrap d-flex mt-5">
                                  <div class="form-check me-3">
                                      <input type="radio" class="form-check-input"formControlName="IsStoreObject"[(ngModel)]="model.IsStoreObject" id="radio2"  value="Yes">Yes
                                      <label class="form-check-label" for="radio2" ></label>
                                    </div>
                                    <div class="form-check ms-4">
                                      <input type="radio" class="form-check-input" id="radio"formControlName="IsStoreObject"[(ngModel)]="model.IsStoreObject"  value="No">No
                                      <label class="form-check-label" for="radio" ></label>
                                    </div>
                              </div>
                            </div>
  
                        </div>
                        <div class="col-sm-6">
                          <div class="d-flex align-items-center justify-content-between mt-5">
                              <label>Is the moving date flexible?</label>
                              <div class="form-check-wrap d-flex">
                                  <div class="form-check me-3">
                                      <input type="radio" class="form-check-input" id="IsFlexible" formControlName="IsFlexible"[(ngModel)]="model.IsFlexible" value="Yes">Yes
                                      <label class="form-check-label" for="IsFlexible" ></label>
                                    </div>
                                    <div class="form-check ms-4">
                                      <input type="radio" class="form-check-input" id="IsFlexible2" formControlName="IsFlexible"[(ngModel)]="model.IsFlexible" value="No">No
                                      <label class="form-check-label" for="IsFlexible2" ></label>
                                    </div>
                              </div>
                            </div>
  
                            <div class="d-flex align-items-center justify-content-between mt-5">
                              <label>Do you want agency to pack the items?</label>
                              <div class="form-check-wrap d-flex">
                                  <div class="form-check me-3">
                                      <input type="radio" class="form-check-input" id="radio2" formControlName="IsPackedItem"[(ngModel)]="model.IsPackedItem" value="Yes">Yes
                                      <label class="form-check-label" for="radio2" ></label>
                                    </div>
                                    <div class="form-check ms-4">
                                      <input type="radio" class="form-check-input" id="radio" formControlName="IsPackedItem"[(ngModel)]="model.IsPackedItem" value="No">No
                                      <label class="form-check-label" for="radio" ></label>
                                    </div>
                              </div>
                            </div>
  
  
                            <div class="d-flex align-items-center justify-content-between mt-5">
                              <label>Do you want to wash your current home?</label>
                              <div class="form-check-wrap d-flex">
                                  <div class="form-check me-3">
                                      <input type="radio" class="form-check-input" id="radio2" formControlName="IsCurrentHome"[(ngModel)]="model.IsCurrentHome" value="Yes">Yes
                                      <label class="form-check-label" for="radio2" ></label>
                                    </div>
                                    <div class="form-check ms-4">
                                      <input type="radio" class="form-check-input" id="radio" formControlName="IsCurrentHome"[(ngModel)]="model.IsCurrentHome" value="No">No
                                      <label class="form-check-label" for="radio" ></label>
                                    </div>
                              </div>
                            </div>
                        </div>
  
  
  
                      </div>
                    </form>
                      <div class="d-flex justify-content-end">
                          <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(1)">Save & Continue</button>
                      </div>
                    </div>
                    <div class="setp2"  *ngIf="sliderValue === 1">
                      <form class="row g-3" [formGroup]="MovingForm2">
                      <div class="row">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center justify-content-between mt-5">
                                <label>Do you want to insure the moving load?</label>
                                <div class="form-check-wrap d-flex">
                                    <div class="form-check me-3">
                                        <input type="radio" class="form-check-input" id="radio2"  formControlName="IsInsureMoving"[(ngModel)]="model.IsInsureMoving"value="Yes">Yes
                                        <label class="form-check-label" for="radio2" ></label>
                                      </div>
                                      <div class="form-check ms-4">
                                        <input type="radio" class="form-check-input" id="radio" formControlName="IsInsureMoving"[(ngModel)]="model.IsInsureMoving" value="No">No
                                        <label class="form-check-label" for="radio" ></label>
                                      </div>
                                </div>
                            </div>
    
  
                          <div class="mb-3">
                            <label for="Name" class="form-label">Number of people in the household?</label>
                            <select class="form-control form-control-sm form-control-alternative" formControlName="NoOfPeopleId" [(ngModel)]="model.NoOfPeopleId">
                              <option *ngFor="let item of peopleList" [value]="item.ID">
                                  {{item.Name}}
                              </option>
                          </select>  
                          <div class="text-danger" *ngIf="submitted && (fs2['NoOfPeopleId']?.invalid)">
                            This value is required.
                        </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                         
  
                          <div class="mb-3">
                            <label for="Name" class="form-label">Approximately how big is the moving load?</label>
                            <select class="form-control form-control-sm form-control-alternative" formControlName="MovingLoadId" [(ngModel)]="model.MovingLoadId">
                              <option *ngFor="let item of ApproximatelyList" [value]="item.ID">
                                  {{item.Name}}
                              </option>
                          </select>  
                          <div class="text-danger" *ngIf="submitted && (fs2['MovingLoadId']?.invalid)">
                            This value is required.
                        </div>
                          </div>
                        </div>
                  
  
                      </div>
                    </form>
                      <div class="d-flex justify-content-end">
                          <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(2)">Save & Continue</button>
                      </div>
                    </div>
                    <div class="setp3"  *ngIf="sliderValue === 2">
                      <form class="row g-3" [formGroup]="MovingForm3">
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="mb-3">
                                <label for="Name" class="form-label">Current Address</label>
                                <input type="text" class="form-control" id=""  formControlName="CurrentAddress" [(ngModel)]="model.CurrentAddress">
                              </div>

                            </div>
                           

                            <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="Name" class="form-label">Street no.</label>
                                <input type="text" class="form-control" id=""  formControlName="StreetNo" [(ngModel)]="model.StreetNo">
                                  
                                </div>
                             </div>
                             <div class="col-sm-6">
                              <div class="mb-3">
                                <label for="Name" class="form-label">Postal code </label>
                              <input type="text" class="form-control" id=""  formControlName="PostalCode" [(ngModel)]="model.PostalCode"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                
                              </div>
                           </div>

                             <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="Name" class="form-label">The size of the home</label>
                                <input type="text" class="form-control" id=""  formControlName="SizeOfHome" [(ngModel)]="model.SizeOfHome"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                <div class="text-danger" *ngIf="submitted && (fs3['SizeOfHome']?.invalid)">
                                  This value is required.
                              </div>
                                </div>
                             </div>

                             
                             <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="Name" class="form-label">Total number of rooms</label>                                 
                                  <select class="form-control form-control-sm form-control-alternative" formControlName="TotalRoomId" [(ngModel)]="model.TotalRoomId">
                                    <option *ngFor="let item of TotalRoomList" [value]="item.ID">
                                        {{item.Name}}
                                    </option>
                                </select> 
                                <div class="text-danger" *ngIf="submitted && (fs3['TotalRoomId']?.invalid)">
                                  This value is required.
                              </div>
                                </div>
                             </div>


                             
                             <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="Name" class="form-label">Housing type</label>
                                  <select class="form-control form-control-sm form-control-alternative" formControlName="HouseTypeId" [(ngModel)]="model.HouseTypeId">
                                    <option *ngFor="let item of HouseTypeList" [value]="item.ID">
                                        {{item.Name}}
                                    </option>
                                </select> 
                                <div class="text-danger" *ngIf="submitted && (fs3['HouseTypeId']?.invalid)">
                                  This value is required.
                              </div>
                                </div>
                             </div>


                          </div>
                      </form>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(3)">Save & Continue</button>
                        </div>
                      </div>
                    <div class="setp4"  *ngIf="sliderValue === 3">
                      <form class="row g-3" [formGroup]="MovingForm4">
                        <div class="row">
                            <div class="col-sm-6">

                                
      
                              <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="Name" class="form-label">Number of floors</label>                                 
                                  <select class="form-control form-control-sm form-control-alternative" formControlName="FloorTypeId" [(ngModel)]="model.FloorTypeId">
                                    <option *ngFor="let item of FloorsList" [value]="item.ID">
                                        {{item.Name}}
                                    </option>
                                </select> 
                                <div class="text-danger" *ngIf="submitted && (fs4['FloorTypeId']?.invalid)">
                                  This value is required.
                              </div>
                                </div>
                             </div>


                                <div class="d-flex align-items-center justify-content-between mt-5">
                                    <label>Should something be moved from garage?</label>
                                    <div class="form-check-wrap d-flex">
                                        <div class="form-check me-3">
                                            <input type="radio" class="form-check-input" id="radio2" formControlName="IsMovedGarage" [(ngModel)]="model.IsMovedGarage" value="Yes">Yes
                                            <label class="form-check-label" for="radio2" ></label>
                                          </div>
                                          <div class="form-check ms-4">
                                            <input type="radio" class="form-check-input" id="radio" formControlName="IsMovedGarage" [(ngModel)]="model.IsMovedGarage" value="No">No
                                            <label class="form-check-label" for="radio" ></label>
                                          </div>
                                    </div>
                                </div>
        
                            </div>
                            <div class="col-sm-6">
                             
                                <div class="d-flex align-items-center justify-content-between mt-4">
                                    <label>Should something be moved from the 
                                        storage rooms?</label>
                                    <div class="form-check-wrap d-flex">
                                        <div class="form-check me-3">
                                            <input type="radio" class="form-check-input" id="radio2" formControlName="IsMovedStorageRoom" [(ngModel)]="model.IsMovedStorageRoom" value="Yes">Yes
                                            <label class="form-check-label" for="radio2" ></label>
                                          </div>
                                          <div class="form-check ms-4">
                                            <input type="radio" class="form-check-input" id="radio"  formControlName="IsMovedStorageRoom" [(ngModel)]="model.IsMovedStorageRoom"value="No">No
                                            <label class="form-check-label" for="radio" ></label>
                                          </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="Name" class="form-label">Distance to parking??</label>
                                    <input type="text" class="form-control" id=""  formControlName="ParkingDistance" [(ngModel)]="model.ParkingDistance"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    <div class="text-danger" *ngIf="submitted && (fs4['ParkingDistance']?.invalid)">
                                      This value is required.
                                  </div>
                                  </div>
                            </div>
                          </div>
                      </form>
    
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(4)">Save & Continue</button>
                        </div>
                      </div>
                      <div class="setp5"  *ngIf="sliderValue === 4">
                        <form class="row g-3" [formGroup]="MovingForm5">
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="mb-3">
                                <label for="Name" class="form-label">New Address</label>
                                <input type="text" class="form-control" id=""  formControlName="NewAddress" [(ngModel)]="model.NewAddress">

                              </div>

                            </div>
                           

                            <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="Name" class="form-label">Street no.</label>
                                  <input type="text" class="form-control" id=""  formControlName="NewStreetNo" [(ngModel)]="model.NewStreetNo">

                                </div>
                             </div>

                             <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="Name" class="form-label">Postal code</label>
                                  <input type="text" class="form-control" id=""  formControlName="NewPostalCode" [(ngModel)]="model.NewPostalCode"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">

                                </div>
                             </div>
                             <div class="col-sm-6">
                              <div class="mb-3">
                                <label for="Name" class="form-label">The size of the home</label>
                              <input type="text" class="form-control" id=""  formControlName="NewSizeOfHome" [(ngModel)]="model.NewSizeOfHome"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                              <div class="text-danger" *ngIf="submitted && (fs5['NewSizeOfHome']?.invalid)">
                                This value is required.
                            </div>
                              </div>
                           </div>
                             
                             <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="Name" class="form-label">Total number of rooms</label>
                                  <select class="form-control form-control-sm form-control-alternative" formControlName="NewTotalRoomId" [(ngModel)]="model.NewTotalRoomId">
                                    <option *ngFor="let item of TotalRoomList" [value]="item.ID">
                                        {{item.Name}}
                                    </option>
                                </select> 
                                <div class="text-danger" *ngIf="submitted && (fs5['NewTotalRoomId']?.invalid)">
                                  This value is required.
                              </div>
                                </div>
                             </div>


                             
                             <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="Name" class="form-label">Housing type</label>
                                  <select class="form-control form-control-sm form-control-alternative" formControlName="NewHouseTypeId" [(ngModel)]="model.NewHouseTypeId">
                                    <option *ngFor="let item of HouseTypeList" [value]="item.ID">
                                        {{item.Name}}
                                    </option>
                                </select> 
                                <div class="text-danger" *ngIf="submitted && (fs5['NewHouseTypeId']?.invalid)">
                                  This value is required.
                              </div>
                                </div>
                             </div>


                          </div>
                        </form>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(5)">Save & Continue</button>
                        </div>
                      </div>
                    <div class="setp6"  *ngIf="sliderValue === 5">
                      <form class="row g-3" [formGroup]="MovingForm6">
                        <div class="row">
                            <div class="col-sm-6">

                                
      
                              <div class="mb-3">
                                <label for="Name" class="form-label">Number of floors</label>
                                <select class="form-control form-control-sm form-control-alternative" formControlName="NewFloorTypeId" [(ngModel)]="model.NewFloorTypeId">
                                  <option *ngFor="let item of FloorsList" [value]="item.ID">
                                      {{item.Name}}
                                  </option>
                              </select> 
                              <div class="text-danger" *ngIf="submitted && (fs6['NewFloorTypeId']?.invalid)">
                                This value is required.
                            </div>
                              </div>


                              <div class="mb-3">
                                <label for="Name" class="form-label">Distance to parking??</label>
                                <input type="text" class="form-control" id=""  formControlName="NewParkingDistance" [(ngModel)]="model.NewParkingDistance" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">

                              </div>

                            </div>
                          </div>
                      </form>
    
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(6)">Save & Continue</button>
                        </div>
                      </div>
                      <div class="setp6"  *ngIf="sliderValue === 6">
                        <form class="row g-3" [formGroup]="MovingForm7">
                        <div class="row">

                            
                            <div class="col-sm-6">
                             
                                <div class="d-flex align-items-center justify-content-between mt-5">
                                    <label>Are you moving heavy objects?</label>
                                    <div class="form-check-wrap d-flex">
                                        <div class="form-check me-3">
                                            <input type="radio" class="form-check-input" id="radio2" formControlName="IsMovingHeavyObject" [(ngModel)]="model.IsMovingHeavyObject"value="Yes">Yes
                                            <label class="form-check-label" for="radio2" ></label>
                                          </div>
                                          <div class="form-check ms-4">
                                            <input type="radio" class="form-check-input" id="radio" formControlName="IsMovingHeavyObject" [(ngModel)]="model.IsMovingHeavyObject"value="No">No
                                            <label class="form-check-label" for="radio" ></label>
                                          </div>
                                    </div>
                                </div>

                              <div class="mb-3 mt-5">
                                <textarea class="form-control" rows="5" id="" name="text" placeholder="Type Here..."></textarea>
                              </div>


                            </div>
                            <div class="col-sm-6">

                                <div class="d-flex align-items-center justify-content-between mt-5">
                                    <label>Are you moving fragile or valuable items?</label>
                                    <div class="form-check-wrap d-flex">
                                        <div class="form-check me-3">
                                            <input type="radio" class="form-check-input" id="radio2" formControlName="IsMovingValueableItem" [(ngModel)]="model.IsMovingValueableItem" value="Yes">Yes
                                            <label class="form-check-label" for="radio2" ></label>
                                          </div>
                                          <div class="form-check ms-4">
                                            <input type="radio" class="form-check-input" id="radio" formControlName="IsMovingValueableItem" [(ngModel)]="model.IsMovingValueableItem" value="No">No
                                            <label class="form-check-label" for="radio" ></label>
                                          </div>
                                    </div>
                                </div>

                              <div class="mb-3 mt-5">
                                <textarea class="form-control" rows="5" id="" name="text" placeholder="Type Here..."></textarea>
                              </div>



                            </div>
                           
                          </div>
                        </form>
    
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(7)">Save & Continue</button>
                        </div>
                      </div>
                      <div class="setp6"  *ngIf="sliderValue === 7">
                        <form class="row g-3" [formGroup]="MovingForm8">
                        <div class="row">

                            
                            <div class="col-sm-6">
                             

                              <div class="mb-3">
                                  <label>
                                    Additional information (optional)
                                  </label>
                                <textarea class="form-control" rows="5" id="" formControlName="AdditionalInfo" [(ngModel)]="model.AdditionalInfo" placeholder="Type Here..."></textarea>
                              </div>


                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label for="Name" class="form-label">Your name?</label>
                                    <input type="text" class="form-control" id=""   formControlName="Name" [(ngModel)]="model.Name">
                                    <div class="text-danger" *ngIf="submitted && (fs8['Name']?.invalid)">
                                      This value is required.
                                  </div>
                                  </div>

                                  <div class="mb-3">
                                    <label for="Name" class="form-label"> Email</label>
                                    <input type="Email" class="form-control" id=""  formControlName="Email" [(ngModel)]="model.Email">
                                  <div class="text-danger" *ngIf="submitted && (fs8['Email']?.invalid)">
                                    This value is required.
                                </div>
                                <div class="text-danger" *ngIf="submitted && (fs8['Email']?.errors?.['Email'] ||fs8['Email']?.errors?.['pattern'])">
                                    Enter Valid Email
                                </div>

                                  </div>

                                  <div class="mb-3">
                                    <label for="Name" class="form-label">Telephone</label>
                                    <input type="text" class="form-control" id=""  formControlName="Phone" [(ngModel)]="model.Phone">
                                    <div class="text-danger" *ngIf="submitted && (fs8['Phone']?.invalid)">
                                      This value is required.
                                  </div>
                                  <div class="text-danger" *ngIf="submitted && (fs8['Phone']?.errors?.['pattern'])">
                                      Enter Valid Phone Numner
                                  </div>
                                  </div>

                            </div>
                           
                          </div>
                        </form>
    
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-danger mb-4 mt-3"  (click)="updateSliderValue(0)">Save & Continue</button>
                        </div>
                      </div>
                  </div>
                </div>
            </div>

           
        </div>

    </div>
   
</div>


<section class="our-services">
    <app-ourservices></app-ourservices>
 </section>
 <!--  -->