.feature_item{
    background:#f7f8fb;
    .card{
        padding: 4px;
        border-radius: 16px;
        border: 2px solid #0A2640;
    }
}



.Rental-personal-car{
    background: #f7f8fb;
}

.filter-pos {
    position: relative;
    top: 50px;
}



.packing-baner{
    background: linear-gradient(106.34deg, rgba(0, 0, 0, 0.4) 31.76%, rgba(0, 0, 0, 0) 84.65%),url('../../../assets/imgs/NewBanner/Flytting-Flyttom.jpg');
   // background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('assets/imgs/Hero-BG.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    height: 578px;
}


.input-group{
   
    .btn, .input-group-text{
        background: transparent;
        border-color: #ced4da ;
        img{
            position: relative;
            top: -1px
        }
        &:hover{
           
            background: transparent;
        }
    }
   
}

.DatePicker{
    label{
        z-index: 2;
    }
}

// .stepsform{
//     label{
//         font-size: 13px;
//     }
//     .slider-wrap{
//         padding: 30px 0px;
//         position: relative;
//     }
//     .slide-icon{
//         background: url(../../../assets/imgs/icons/activeslide.png);
//         background-repeat: no-repeat;
       
//         background-position: center left;
//         width: 24px;
//         display: inline-block;
//         height: 27px;
//         align-items: center;
//         justify-content: center;
//         font-size: 13px;
//         padding: 2px 8px;
//         color: #fff
//     }
//     .ActivesliderValue{
//         position: absolute;
//         width: 24px;
//         height: 27px;
//         top: 0px;
//     }
//     .active0 span.ActivesliderValue,.active1 span.ActivesliderValue  {
//         margin-left: -3px;
//     }
    

// <span class="ActivesliderValue animate__animated animate__fadeInDown" [style.left]="sliderValue * 14.285 - sliderValue/1.5  + '%'">
//<span class="slide-icon">
//   {{sliderValue + 1}}
//</span>
//</span> 

// }