<div class="Rental-personal-car">
    <div class="container">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb pt-2">
          <li class="breadcrumb-item"><a href="#">Hjem</a></li>
          <li class="breadcrumb-item"><a routerLinkActive="active" routerLink="/ServicePacking">Flytting</a> </li>
          <li class="breadcrumb-item active" aria-current="page">Pakking</li>
        </ol>
      </nav>

      <div class="packing-baner baner-rounded py-5">
      
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-8 text-center text-lg-start text-white px-5">
              <!-- <h1 class="fw-bold mb-2">Er det tid for å flytte til et nytt sted å bo? La oss hjelpe!</h1>
              <p class="col-lg-10 fs-5 mt-3 mt-4">Flyttom AS er din totalleverandør innen flyttetjenester. Vi skreddersyr løsninger som passer
                for deg. Vi har dyktige og erfarne medarbeidere som har jobbet med oss siden 2002.</p> -->
            </div>
          </div>
    </div> 
    
    
    </div>
   
    

    <div class="container">
     
        <h5 class="mt-5">
          Pakking
        </h5>
        <p>
          Vårt flyttebyrå tilbyr pakking av flyttegodset og demontering/montering av møbler o.l våre folk er meget rutinerte på dette området og utfører pakking og demontering/montering på en Profesjonell og betryggende måte. Vi har egnet emballasje til alt av verdigjenstander som glass, malerier, TV –data med mer.
        
        </p>

        <h5>
          Pakking fra oss 
        </h5>
        <p>
          Ofte kan pakking og lagring ta tid og samtidig dempe gleden med å flytte. Vi i Flyttom har god erfaring og utfører jobben raskt og effektivt, samtidig som flyttegodset blir pakket ned på en trygg og skånsom måte.
          Vi kan ta jobben med å pakke alt du skal flytte. I tillegg til dette kan vi organisere hele pakkeplanen som sikrer at alt er godt pakket, og merket. Dette er den beste måten å sikre at alle gjenstander kommer på rett plass.
          
        </p>
        <h5>
          Demontering
        </h5>
        <p>
          Vi kan også hjelpe med demontering av møbler o.l, og vi kan selvfølgelig også montere det opp igjen på nytt sted. Vi er også behjelpelig med hel eller delvis utpakking av flyttegodset når det har kommet inn i ditt nye hjem. Du kan avtale med oss om du har behov for utpakking.  
        </p>
        <h5>
          Tips om pakking
        </h5>
       <ul type = "circle">
 

          <li>	Pakk mest mulig i esker eller plastsekker. Mange typer klær – samt dyner og puter – kan du pakke i søppelsekker. Trekk en søppelsekk over klær på kleshengere.</li>
          <li> Hvis du har tatt vare på originaleskene til TV og annet elektronisk utstyr, er dette den beste emballasjen.</li>
          <li> Gå til innkjøp av spesialesker for flytting, eller spør din nærmeste dagligvare om de har noen til overs. Eskene bør være stive og utstyrt med lokk, da er det enklere å stable dem i høyden på flyttebilen. Bruk bred teip for å lukke dem slik at alt holder seg på plass i eskene. Unngå at de blir for tunge – 20 kilo er mer enn nok. Blir det tyngre, kan bunnen åpne seg og bærerne vil slite mer enn nødvendig opp trappene.</li>
          <li>Glass pakkes forsvarlig inn i pakkepapir (gjerne avispapir). Bruk bobleplast for å beskytte andre skjøre gjenstander.</li>
          <li>	Tørrvarer i kjøkkenskapene, som for eksempel ris og gryn: Teip igjen åpningen.</li>
          <li>Bruk en bred tusj for å merke eskene med hva de inneholder. Skriv også hvilket rom i ditt nye hjem de skal plasseres i.</li>
          <li>	Unngå å bruke teip direkte på møbeloverflater, for eksempel på en skuffeseksjon. Teipen kan lage skjemmende merker. Pakk heller møbelet inn med bobleplast som holdes på plass med bred teip.
            <li>Esker med det du først vil ha behov for i den nye boligen, plasseres sist på
          flyttebilen (toalettsaker, kaffemaskin og dugnadsmat).</li>
           </ul>  
           
            <h5>
              Utkjøring av pakkemateriell til våre kunder er gratis!
            </h5>
            <br>
       
    </div>
   
</div>


