<div class="Rental-personal-car">
    <div class="container">
        
      </div>
    <div class="container mb-5" style="text-align: center;color: #000;font-weight: bold;">

        <p>
            Takk for prisforespørsel, vi behandler dette så fort vi har kapasitet og <br>
            vil ta kontakt med deg på din oppgitte kontaktinformasjon.<br>
            Har du noen spørsmål utenom kan du ta kontakt med oss på telefon 51542400 <br>
            i åpningstidene våre eller sende e-post til <a href="mailto:post@flyttom.no">post@flyttom.no</a><br>
            
        </p>
       
    
    </div>
  
 
</div>